<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin it | user feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <link rel="icon" type="image/png" href="4.ico"/>
</head>
<body>
    <nav>
        <div class="logo">
          <img  class="imglogo" src="/images/logo1.com.png">
            
        </div>
        <ul class="navLink">
          <li><a href="/profile">Profile</a></li>
        </ul>
        <div class="lines">
            <div class="l1"></div>
            <div class="l2"></div>
            <div class="l3"></div>
        </div>
      </nav>
  
  <header>
    <h1>Pin it Image Galary</h1>
  </header> 
  
    
  <div class="container">
        
    
        
        
    <div class="box">
                  <a href="https://picsum.photos/200/330?random=1" >
                  <img src="https://picsum.photos/200/330?random=1" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
   <div class="box" >
                  <a href="https://picsum.photos/200" >
                  <img src="https://picsum.photos/200" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
      
        
  <div class="box">
                  <a href="https://sciencecalx.com/wp-content/uploads/2023/07/chemistry.png" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/003.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/003.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/002.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/002.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://images.unsplash.com/photo-1453899242646-c74d86b5b8e8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=2d0bd4cef8c2955243273764ca953dcf" >
                  <img src="https://images.unsplash.com/photo-1453899242646-c74d86b5b8e8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=2d0bd4cef8c2955243273764ca953dcf" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/006.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/006.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://picsum.photos/200/300?grayscale" >
                  <img src="https://picsum.photos/200/300?grayscale" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/008.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/008.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div>  
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/010.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/010.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/011.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/011.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 

    <div class="box">
      <a href="https://source.unsplash.com/random/230x400" >
      <img src="https://source.unsplash.com/random/230x400" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/344x190" >
      <img src="https://source.unsplash.com/random/344x190" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/500x200" >
      <img src="https://source.unsplash.com/random/500x200" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/500x300" >
      <img src="https://source.unsplash.com/random/500x300" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/250x500" >
      <img src="https://source.unsplash.com/random/250x500" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/333x200" >
      <img src="https://source.unsplash.com/random/333x200" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/220x200" >
      <img src="https://source.unsplash.com/random/220x200" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/012.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/012.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/013.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/013.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/014.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/014.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/015.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/015.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/016.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/016.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/021.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/021.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 

    <div class="box">
      <a href="https://source.unsplash.com/random/140x200" >
      <img src="https://source.unsplash.com/random/140x200" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/450x400" >
      <img src="https://source.unsplash.com/random/450x400" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/331x200" >
      <img src="https://source.unsplash.com/random/331x200" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/500x227" >
      <img src="https://source.unsplash.com/random/500x227" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/600x400" >
      <img src="https://source.unsplash.com/random/600x400" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/401x200" >
      <img src="https://source.unsplash.com/random/401x200" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>

    <div class="box">
      <a href="https://source.unsplash.com/random/300x505" >
      <img src="https://source.unsplash.com/random/300x505" alt="image"></a>
    <div class="caption">Random Image </div>
    </div>
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/018.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/018.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/019.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/019.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/020.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/020.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/022.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/022.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/023.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/023.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/024.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/024.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/025.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/025.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/026.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/026.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/027.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/027.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/028.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/028.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div> 
        
  <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/029.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/029.jpg" alt="image"></a>
              <div class="caption">Random Image </div>
    </div>
  
  <div class="box">
    <a href="https://picsum.photos/200/300?random=1" >
    <img src="https://picsum.photos/200/300?random=1" alt="image"></a>
<div class="caption">Random Image </div>
</div>

<div class="box">
  <a href="https://picsum.photos/200/350?random=1" >
  <img src="https://picsum.photos/200/350?random=1" alt="image"></a>
<div class="caption">Random Image </div>
</div>

<div class="box">
  <a href="https://picsum.photos/200/300/?blur" >
  <img src="https://picsum.photos/200/300/?blur" alt="image"></a>
<div class="caption">Random Image </div>
</div> 

<div class="box">
  <a href="https://source.unsplash.com/random/300x200" >
  <img src="https://source.unsplash.com/random/300x200" alt="image"></a>
<div class="caption">Random Image </div>
</div> 

<div class="box">
  <a href="https://source.unsplash.com/random/300x200" >
  <img src="https://source.unsplash.com/random/300x300" alt="image"></a>
<div class="caption">Random Image </div>
</div>

<div class="box">
  <a href="https://source.unsplash.com/random/200x450" >
  <img src="https://source.unsplash.com/random/200x450" alt="image"></a>
<div class="caption">Random Image </div>
</div>

<div class="box">
  <a href="https://source.unsplash.com/random/100x200" >
  <img src="https://source.unsplash.com/random/100x200" alt="image"></a>
<div class="caption">Random Image </div>
</div>


<div class="box">
  <a href="https://source.unsplash.com/random/350x200" >
  <img src="https://source.unsplash.com/random/350x200" alt="image"></a>
<div class="caption">Random Image </div>
</div>

<div class="box">
  <a href="https://source.unsplash.com/random/250x200" >
  <img src="https://source.unsplash.com/random/250x200" alt="image"></a>
<div class="caption">Random Image </div>
</div>


<div class="box">
  <a href="https://source.unsplash.com/random/100x200" >
  <img src="https://source.unsplash.com/random/100x200" alt="image"></a>
<div class="caption">Random Image </div>
</div>


<div class="box">
  <a href="https://source.unsplash.com/random/300x240" >
  <img src="https://source.unsplash.com/random/300x240" alt="image"></a>
<div class="caption">Random Image </div>
</div>


<div class="box">
  <a href="https://source.unsplash.com/random/600x400" >
  <img src="https://source.unsplash.com/random/600x400" alt="image"></a>
<div class="caption">Random Image </div>
</div>


<div class="box">
  <a href="https://source.unsplash.com/random/400x650" >
  <img src="https://source.unsplash.com/random/400x650" alt="image"></a>
<div class="caption">Random Image </div>
</div>

<div class="box">
  <a href="https://source.unsplash.com/random/344x200" >
  <img src="https://source.unsplash.com/random/344x200" alt="image"></a>
<div class="caption">Random Image </div>
</div>


<div class="box">
  <a href="https://source.unsplash.com/random/360x180" >
  <img src="https://source.unsplash.com/random/360x180" alt="image"></a>
<div class="caption">Random Image </div>
</div>


<div class="box">
  <a href="https://source.unsplash.com/random/200x400" >
  <img src="https://source.unsplash.com/random/300x400" alt="image"></a>
<div class="caption">Random Image </div>
</div>

</div>
      
      
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="app.js"></script>

  <div class="footer">
    <p>@ All rights reserved | made by Saptarshi Roy</p>
  </div>
</body>
</html>