<!DOCTYPE html>
<html>
  <head>
    <title>Pin It</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="4.ico"/>
  </head>
  <body>
    <!--ring div starts here-->
<div class="ring">
  <i style="--clr:#ff0000;"></i>
  <i style="--clr:#ff0000;"></i>
  <i style="--clr:#ff0000;"></i>  
  
  <div class="login">

    <div class="topcontainer">
      <h4 class="welcome">Welcome to</h4>
      <img class="pinlogo" src="/images/logobtn.png">
    </div>

    <h2>Register</h2>

    <form class="form" action="/register" method="post">
      <div class="inputBx">
        <input name="username" type="text" placeholder="Username">
      </div>
      <div class="inputBx">
        <input name="email" type="email" placeholder="Email">
     </div>
      <div class="inputBx">
        <input name="password"type="password" placeholder="Password">
      </div>
      <div class="inputBx">
        <input name="fullname" type="text" placeholder="Fullname">
      </div>
      <div class="inputBx">
        <input type="submit" value="Sign up">
      </div>
    </form>

    <div class="links">
      <a href="/login"> Already on Pin it ?   Sign in</a>
    </div>
    

  </div>
</div>
<!--ring div ends here-->
  </body>
</html>
